<a href="https://colab.research.google.com/github/harshmdev/Complete-Python-/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [2]:
# Write your code here
print("Data","Science","Mentorship","Program","started","by","campusx",sep="-",end="")

Data-Science-Mentorship-Program-started-by-campusx

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
var_cel=float(input("Enter a value in celcius : "))
var_faren= (var_cel*9/5)+32
print("temp. in farenheit : ",var_faren)

Enter a value in celcius : 5
temp. in farenheit :  41.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
a=input("enter a number : ")
b=input("enter another number : ")
c=a
a=b
b=c
print(a,b)

enter a number : 25
enter another number : 67
67 25

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
import math
cord1=int(input("enter x1 co-ordinate : "))
cord2=int(input("enter y1 co-ordinate : "))
cord3=int(input("enter x2 co-ordinate : "))
cord4=int(input("enter y2 co-ordinate : "))
x=(cord3-cord1)**2+(cord4-cord2)**2
eucli_dist=math.sqrt(x)
print(eucli_dist)

enter x1 co-ordinate : 2
enter y1 co-ordinate : 3
enter x2 co-ordinate : 5
enter y2 co-ordinate : 7
5.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
principal=int(input("enter principal amount : "))
rate=int(input("enter rate of interest(in percentage) : "))
time=int(input("enter time in years : "))
si=(principal*rate*time)/100
print(si)

enter principal amount : 100
enter rate of interest(in percentage) : 10
enter time in years : 10
100.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here
a=int(input("number of heads : "))
b=int(input("number of legs : "))
dogs=b/2-a
chickens=a-dogs
print("no. of heads of dogs are ",dogs)
print("no. of heads of chickens are ",chickens)

number of heads : 4
number of legs : 12
no. of heads of dogs are  2.0
no. of heads of chickens are  2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here
n=int(input("Enter a number :"))
sum=(n*(n+1)*(n+2))/6
print("sum of n natural number is :",sum)

Enter a number :1
sum of n natural number is : 1.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
a=int(input("enter first element of series : "))
b=int(input("enter second element of series : "))
num=int(input("enter which element you want to find : "))
c=b-a
number=(c*num)+b
print("the number is ",number)

enter first element of series : 1
enter second element of series : 2
enter which element you want to find : 1
the number is  3

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here
a=int(input("Enter numerator: "))
b=int(input("Enter denominator: "))
c=int(input("Enter another numerator: "))
d=int(input("Enter another denominator: "))
sum=(((a*d)+(b*c))/(b*d))
print(sum)

Enter numerator: 1
Enter denominator: 3
Enter another numerator: 2
Enter another denominator: 3
1.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
import math
tank_h=int(input("enter height of tank : "))
tank_l=int(input("enter length of tank : "))
tank_b=int(input("enter bredth of tank : "))
glass_h=int(input("enter height of glass : "))
glass_r=int(input("enter radius of tank : "))
vol_tank=tank_h*tank_b*tank_l
vol_glass=(math.pi*glass_r**2)*glass_h
no_glass=vol_tank/vol_glass
print("Number of glasess are : ",no_glass)

enter height of tank : 20
enter length of tank : 20
enter bredth of tank : 20
enter height of glass : 3
enter radius of tank : 1
Number of glasess are :  848.8263631567752